@import "cards";

//Variables:

$ColorPrincipalFondo: #9cffef;

// BEM EJEMPLO 

.section{
  background-color: grey;
}

.sectioncolumn{
  border: solid 1px red;
}

.sectioncolumn--itemDiscount{
  background-color: red;
}
//ejemplo bucle

@for $i from 1 through 4 {

  .cubos-#{$i} {
    height: 100px * $i;
    border: 3px solid red;
    margin: 0;
    color: yellow;
  }
}

//ejemplo each

@each $perritos in eachperrito1, eachperrito2, eachperrito3, eachperrito4, perritouwu  {
  .#{$perritos} {
    content:url("./imagen/#{$perritos}.jfif");
    height: 500px;
  }
} 



//ejemplo maps

$cubosdecolores: (
cubo1 : #55acee,
cubo2  : #631e3e,
cubo3: #875515
);


@each $nombre-cubo, $color-cubo in $cubosdecolores {

   .cubo--#{$nombre-cubo} {

     background-color: $color-cubo ;
     width: 150px;
     height:150px;
     margin: 0;
   }

}

// BEM EJEMPLO 1

.section{
  background-color: grey;
}

.sectioncolumn{
  border: solid 1px red;
}

.sectioncolumn--itemDiscount{
  background-color: red;
}

// EJEMPLO BEM 2
.block{ color: red; }
.block__element{ color: yellow; }
.block__element--modifier{ color: orangered; }

// EJEMPLO BEM 3
.item{ color: red; }
.item--modifier{ color: green; }
.item__element{ color: yellow; }
.item__element--modifier{ color: purple; }
.item__another-element{ color: orangered; }

// EJEMPLO BEM 4

.caja{ color: yellow; }
.caja--modifier{  width: 80px;
  height: 40px;
  border: 3px solid red;
  margin: 0;}
.caja__element{ width: 30px;
  height: 30px;
  border: 3px solid blue;
  margin: 0; }
.caja__element--modifier{ width: 20px;
  height: 30px;
  border: 3px solid orange;
  margin: 0; }
.caja__another-element{  width: 20px;
  height: 30px;
  border: 3px solid green;
  margin: 0; }

//css:

//logo

.logo:hover{
  animation-name: logoAnim;
  animation-duration: 1s;
  animation-timing-function:linear;
  animation-iteration-count: infinite;
  animation-delay: 0s;
}

@keyframes logoAnim{

  0%{transform: rotate(0deg);}
  25%{transform: rotate(90deg);}
  50%{transform: rotate(180deg);}
  75%{transform: rotate(270deg);}
  100%{transform: rotate(360deg);}

}




:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --varyDarkBlue: hsl(234, 12%, 34%);
  --grayishBlue: hsl(229, 6%, 66%);
  --veryLightGray: hsl(0, 0%, 98%);
  --weight1: 200;
  --weight2: 400;
  --weight3: 600;
  background-color: $ColorPrincipalFondo  ;
}

  .backgroundHeader {
   
    background: linear-gradient(rgb(0, 255, 106), $ColorPrincipalFondo);
  }
  
 
  
  #flex {
    display: flex;
    justify-content: center;
  
  }
  
  #grid {
  
  overflow:hidden;
  border: solid rgb(6, 72, 44);
  width: 50vw;
  background-color: #4D2C73;
  display: grid;
  justify-content: center;
  grid-template-columns: 250px 250px;
  grid-template-rows: 250px 250px ;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  }
  
 
